.header {

}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 70px 0;
}

.header__nav {

}

.nav {

}

.nav__list {
  display: flex;

  font-size: 20px;
}

.list {

}

.list__item:not(:last-child) {
  margin-right: 50px;
}

.list__item {
  position: relative;
}

.list__item::after, .list__item::before {
  content: "";

  position: absolute;
  bottom: -4px;

  display: block;
  width: 0;
  height: 2px;

  background-color: tomato;

  transition: width 0.3s;
}

.list__item::after {
  left: 50%;
}

.list__item::before {
  right: 50%;
}

.list__item:hover::after, .list__item:hover::before {
  width: 50%;

  transition: width 0.3s;
}

.list__link {

}

.top__callback {
  display: flex;
  align-items: center;
}

.top__address {
  margin-right: 36px;

  font-style: normal;

  font-weight: 400;
}

.top__tel {
  font-size: 30px;
}

.top__button {

}
